@charset "utf-8";

#mula-plugin-checkout-page {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#mula-plugin-checkout-page > #mula-checkout-form {
    width: 40%;
    margin: auto;
}

#mula-plugin-checkout-page > #mula-checkout-form > div > .checkout-form-field {
    width: 100%;
}

#mula-checkout-form > div > small[id$="Help"] {
    color: #7e7e7e;
}

#amount-currency-input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#amount-currency-input-group > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.errored-field {
    color: #ff6347 !important;
}

.valid-field {
    color: #2e8b57 !important;
}


.mula-redirect-page-view {
    border: 0;
    width: 40%;
    padding: 8px 16px;
    border-radius: 2px;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.mula-redirect-page-view > .mula-failed-notice {
    letter-spacing: 1px;
    color: #ff6347;
    padding-left: 4px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.mula-redirect-page-view > .mula-success-notice {
    letter-spacing: 1px;
    color: #2e8b57;
    padding-left: 4px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.mula-redirect-page-view > p {
    padding-left: 4px;
}

.mula-redirect-page-view .redirect-page-options {
    background: #fff;
    padding: 4px 8px;
    border-radius: 2px;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
}