@charset "utf-8";

#mula-config-form-group {
    width: 100%;
}

#mula-config-form-group > div.config-group {
    margin: 1em;
    height: auto;
    box-sizing: border-box;
}

#mula-config-form-group > div.config-group > div {
    width: 70%;
    padding: 1em;
    min-height: 128px;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}

#mula-config-form-group > div.config-group > div > h2 {
    margin: 0;
    top: -12px;
    height: 24px;
    padding: 2px 8px;
    color: #ffffff;
    line-height: 24px;
    font-size: inherit;
    border-radius: 2px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #35cbf8;
}

table.form-table tr td > input.mula-input-field, select.mula-select-field {
    border-radius: 2px;
    height: 36px;
    width: 100%;
}